<!-- templates/loads/partials/carrier_assets.html -->

<div class="space-y-6">
    <div class="space-y-2">
        <label for="id_driver" class="form-label">Driver</label>
        <select name="driver" id="id_driver" class="form-select">
            <option value="">Select driver</option>
            {% for driver in drivers %}<option value="{{ driver.id }}">{{ driver }}</option>{% endfor %}
        </select>
    </div>

    <div class="space-y-2">
        <label for="id_truck" class="form-label">Truck</label>
        <select name="truck" id="id_truck" class="form-select">
            <option value="">Select truck</option>
            {% for truck in trucks %}<option value="{{ truck.id }}">{{ truck }}</option>{% endfor %}
        </select>
    </div>
</div>
